@page "{id?}"
@model VotingSystem.Ui.Pages.IndexModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Razor index page</h1>

<form method="post">
    <input asp-for="Form.Title" />
    <input asp-for="Form.Description" />
    <input asp-for="Form.Names[0]" />
    <input asp-for="Form.Names[1]" />
    <input asp-for="Form.Names[2]" />
    <button type="submit">Submit</button>
</form>

@if(Model.Poll != null)
{
    <h1>Razor index page</h1>
    
    <h2>@Model.Poll.Title</h2>
    
    <h2>@Model.Poll.Description</h2>
    
    foreach (var counter in Model.Poll.Counters)
    {
        <p>@counter.Name - @counter.Count</p>
    }
}
